@background: #EEEEEE;
@color1: #69D2E7;
@color2: #A7DBD8;
@color3: #E0E4CC;
@color4: #F38630;
@color5: #FA6900;

@bs-orange: #f0ad4e;

html{
  width: 100%;
  height: 100%;
  font-family: 'Open Sans';
}

body{
  width: 100%;
  height: 100%;
  background-color: @background;
}

.container{
  margin: 0 auto;
  text-align: center;
  background-color: white;
  height: 100%;
  border-left: 1px solid @color3;
  border-right: 1px solid @color3;
}

#header{
  margin: 4em 0 20px 0;
}

h1{
  color: @bs-orange;
  font-size: 6em;
  font-fazmily: 'Open Sans';
  font-weight: 300;
}

form{
  margin: 0 auto;
}

input{
  margin-bottom: 20px;
}

