html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans';
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
}
.container {
  margin: 0 auto;
  text-align: center;
  background-color: white;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  height: 100%;
  overflow: hidden;
  padding: 0;
}
#header {
  margin: 10em 0 20px 0;
}
#header span {
  font-style: italic;
  font-family: 'Open Sans';
}
#results-header {
  width: 100%;
  height: 120px;
  transition: all 0.3s ease-out;
}
#results-header h1 {
  font-size: 2.5em;
}
#results-header.active {
  box-shadow: 0 0 15px rgba(240, 173, 78, 0.4);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1 {
  color: #f0ad4e;
  font-size: 6em;
  font-family: 'Open Sans';
  font-weight: 300;
}
form {
  margin: 0 auto;
}
input {
  margin-bottom: 20px;
}
.btn {
  font-family: 'Open Sans';
  font-weight: 300;
}
/***** result cards *****/
#query-results {
  bottom: 0;
  height: 100%;
  position: relative;
}
#results-scroll {
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 120px;
}
#results {
  overflow: hidden;
  padding: 10px;
}
#results .result-ctn:first-child .result-card {
  border-top: 1px solid;
  border-left: 1px solid;
  border-bottom: 3px solid;
  border-right: 3px solid;
  border-color: #f0ad4e;
}
.result-ctn {
  padding: 10px;
  display: inline-block;
}
.result-card {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
  height: 350px;
  border-radius: 6px;
  padding: 20px;
}
.card-head {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}
.card-head img {
  margin: 0 auto;
}
.card-body {
  padding: 5px;
}
.card-body .result-title {
  margin-bottom: 5px;
}
.result-title {
  font-family: 'Open Sans';
  text-transform: capitalize;
}
.site-link {
  margin-bottom: 1em;
}
