{% load staticfiles %}
<!doctype html>
<html>

<head>

        <link rel="stylesheet" type="text/css" href="{% static 'alternis/css/bootstrap.min.css' %}" />

        <script type="text/javascript" src="{% static 'alternis/js/jquery-1.11.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'alternis/js/bootstrap.min.js' %}"></script>

    </head>

    <body>
        <div class='container'>
                <h1 id='alternis-text'>Alternis</h1>
            </div>

            <div id="search-area">
            </div>
        </div>
    </body>
</html>